<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>O nas</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/carrental.css" th:href="@{/css/carrental.css}"/>
</head>
<body>
<div class="toolbar-container">
    <nav id="main-toolbar">
        <div class="toolbar">
            <ul class="toolbar-links">
                <li><a th:href="@{home}" class="toolbar-link">Strona główna</a></li>
                <li><a th:href="@{cars}" class="toolbar-link">Nasze samochody</a></li>
                <li><a th:href="@{about}" class="toolbar-link">O nas</a></li>
                <li><a th:href="@{contact}" class="toolbar-link">Kontakt</a></li>
            </ul>
        </div>
    </nav>
</div>
<h1>Kilka słów o nas!</h1>
</body>
</html>