<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Klienci</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/carrental.css" th:href="@{/css/carrental.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="toolbar-container">
    <nav id="main-toolbar">
        <div class="toolbar">
            <ul class="toolbar-links">
                <li class="donttouchit"><a th:href="@{home}" class="toolbar-link">Strona główna</a></li>
                <li class="donttouchit"><a th:href="@{about}" class="toolbar-link">O nas</a></li>
                <li class="donttouchit"><a th:href="@{contact}" class="toolbar-link">Kontakt</a></li>
                <li class="donttouchit"><a th:href="@{cars}" class="toolbar-link">Nasze samochody</a></li>
                <li class="donttouchit"><a th:href="@{login}" class="toolbar-link">Logowanie</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <h1>Baza klientów - dostęp dla admina</h1>
    <div class="row col-md-7 table-responsive">
        <table id="customers" class="table">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Telefon</th>
                <th>Wiek</th>
                <th>Login</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer, rowStat: ${customers}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: DarkViolet;'">
                <td th:text="${customer.name}">Imię</td>
                <td th:text="${customer.surname}">Nazwisko</td>
                <td th:text="${customer.email}">E-mail</td>
                <td th:text="${customer.phoneNumber}">Telefon</td>
                <td th:text="${customer.age}">Wiek</td>
                <td th:text="${customer.login}">Login</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>